.btn {
	border: none;
	font-size: 20px;
	font-family: $font-family-serif;
	font-weight: 700;
	text-decoration: none;
	padding: 5px 25px;

	@media (min-width: $screen-sm-min) {
		font-size: 25px;
	}

	&.btn-sm {
		font-size: 16px;
		padding: 4px 15px;
		@media (min-width: $screen-sm-min) {
			font-size: 18px;
		}
	}

	&.disabled {
		background-color: #5D4B44;
		opacity: 1;
	}
}

.btn-primary {
	&:hover, &:focus {
		background-color: #DA744C;
	}
}

.btn-secondary {
	color: #fff;
	background-color: #ECA021;
	&:hover, &:focus {
		color: #fff;
		background-color: #EBB65C;
	}
}