// Mixins

@mixin blue-gradient() {
  background: rgb(85,196,198);
	background: -moz-linear-gradient(top,  rgba(85,196,198,1) 0%, rgba(85,196,198,1) 67%, rgba(67,155,158,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(85,196,198,1) 0%,rgba(85,196,198,1) 67%,rgba(67,155,158,1) 100%);
	background: linear-gradient(to bottom,  rgba(85,196,198,1) 0%,rgba(85,196,198,1) 67%,rgba(67,155,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55c4c6', endColorstr='#439b9e',GradientType=0 );
}

@mixin orange-gradient() {
  background: rgb(237,160,32);
	background: -moz-linear-gradient(top,  rgba(237,160,32,1) 0%, rgba(237,160,32,1) 68%, rgba(224,110,9,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(237,160,32,1) 0%,rgba(237,160,32,1) 68%,rgba(224,110,9,1) 100%);
	background: linear-gradient(to bottom,  rgba(237,160,32,1) 0%,rgba(237,160,32,1) 68%,rgba(224,110,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eda020', endColorstr='#e06e09',GradientType=0 );
}

@mixin shadow-gradient() {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.65) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

// Default

body {
	font-size: 15px;
	@media (min-width: $screen-sm-min) {
		font-size: 18px;
	}
}

p {
	a {
		text-decoration: underline;
	}
}

h1 {
	font-size: 34px;
	@media (min-width: $screen-sm-min) {
		font-size: 46px;
	}
}

h2 {
	color: $brand-primary;
	font-size: 22px;
	@media (min-width: $screen-sm-min) {
		font-size: 28px;
	}
}

h3 {
	font-size: 19px;
	color: $brand-secondary;
	@media (min-width: $screen-sm-min) {
		font-size: 21px;
	}
}

hr {
	border-top: 1px solid $brand-secondary;
	margin-top: 5px;
}

blockquote {
	padding: 0;
	font-size: 18px;
	font-style: italic;
	border: 0;
	@media (min-width: $screen-sm-min) {
		font-size: 24px;
	}
}

.main {
	img {
		display: block;
	}
}

img {
	max-width: 100%;
}

.link-spanner {
	position:absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

// Hero
.hero {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 320px;
	position: relative;
	@media (min-width: $screen-sm-min) {
		height: 530px;
	}
	.caption {
		position: absolute;
		bottom: 40px;
		color: #fff;
		font-family: $font-family-serif;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		@media (min-width: $screen-sm-min) {
			font-size: 40px;
			bottom: 70px;
		}
		span {
			display: block;
		}
	}
	.video-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.hero-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include shadow-gradient();
	}
}

.page-header {
	position: relative;
	border: 0;
	color: #fff;
	padding: 80px 0 15px;
	margin: 0 0 25px 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-transform: uppercase;
	@media (min-width: $screen-sm-min) {
		padding: 200px 0 40px;
		margin: 0 0 40px 0;
	}
	.page-header-overlay {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		@include shadow-gradient();
	}
	.container {
		position: relative;
	}
}

.banner-cta {
	text-align: center;
	color: #fff;
	padding: 40px 0;
	@include blue-gradient();
	h2 {
		margin-top: 0;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 22px;
		margin-bottom: 25px;
		color: #fff;
		@media (min-width: $screen-sm-min) {
			font-size: 30px;
		}
	}
}

.home-feature {
	padding-top: 60px;
	padding-bottom: 60px;
	[class*=col] {
		margin-bottom: 30px;
		@media (min-width: $screen-sm-min) {
			margin-bottom: 0;
		}
	}
	img {
		width: 100%;
		height: 100%;
	}
	h2 {
		font-size: 28px;
		color: $brand-primary;
		border-bottom: 1px solid $brand-secondary;
		padding-bottom: 20px;
		margin-bottom: 20px;
		width: 100%;
	}
}

.divider {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	padding: 90px 0;
	@media (min-width: $screen-sm-min) {
		padding: 180px 0 90px;
	}
	h2 {
		color: #fff;
	}
	.divider-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include shadow-gradient();
	}
	.container {
		position: relative;
	}
}

.cta {
	padding: 60px 0;
	margin-top: 35px;
	text-align: center;
	color: #fff;
	@include orange-gradient();
	h3 {
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin: 0 0 35px;
		@media (min-width: $screen-sm-min) {
			font-size: 28px;
		}
	}
}

.page-template-template-homepage {
	.cta {
		margin-top: 0;
	}
}

// Sidebar

aside {
	margin-top: 25px;
	@media (min-width: $screen-sm-min) {
		margin-top: 0;
	}
	.btn-primary {
		background-color: #fff;
		color: #EC9F21;
		&:hover, &:focus {
			background-color: #fff;
			color: $brand-primary;
		}
	}
	.sidebar-item {
		@include orange-gradient();
		padding: 35px 0;
		color: #fff;
		margin-bottom: 35px;
		&:last-of-type {
			margin-bottom: 0;
		}
		h3,
		p {
			padding-left: 25px;
			padding-right: 25px;
		}
		h3 {
			color: #fff;
			margin-top: 0;
			margin-bottom: 25px;
			font-size: 28px;
		}
		img {
			width: 100%;
			height: 100%;
		}
		p {
			margin: 25px 0;
			&:last-of-type {
				margin: 0;
			}
		}
	}
}

// Events

.single-event {
	.main {
		@media (min-width: $screen-sm-min) {
	    float: left;
	    width: 66.6666666667%;
		}
	}
	aside {
		.event-resources {
			@include orange-gradient();
			padding: 35px 25px 5px;
			color: #fff;
			h3 {
				color: #fff;
				margin-top: 0;
				margin-bottom: 25px;
				font-size: 28px;
			}
			.event-resources-item {
				padding-left: 65px;				
				background-repeat: no-repeat;
				background-size: 40px;
				margin-bottom: 30px;
				span {
					font-family: $font-family-serif;
					margin-bottom: 20px;
					display: block;
				}
				&#forms {
					background-image: url("../images/icon-forms.png");
				}
				&#guidelines {
					background-image: url("../images/icon-guidelines.png");
				}
				&#travel {
					background-image: url("../images/icon-travel.png");
				}
			}
		}
	}
}

.post-type-archive-event {
	.page-header {
		margin-bottom: 0;
	}
}

.featured-event {
	@include orange-gradient();
	padding: 60px 0;
	margin-bottom: 60px;
	img {
		height: 100%;
		margin-bottom: 20px;
		@media (min-width: $screen-sm-min) {
			margin-bottom: 0;
		}
	}
	.event-item {
		.event-content {
			h2 {
				margin-top: 0;
				margin-bottom: 20px;
				color: #fff;
			}
			p {
				color: #fff;
				margin-bottom: 20px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		}
}

.main-events {
	margin-top: 60px;
	.event-item {
		padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid $brand-secondary;
    &:last-of-type {
    	border-bottom: 0;
    }
    img {
    	height: 100%;
    	margin-bottom: 20px;
    	@media (min-width: $screen-sm-min) {
    		margin-bottom: 0;
    	}
    }
		.event-content {
			h2 {
				margin-top: 0;
				margin-bottom: 20px;
			}
			p {
				margin-bottom: 20px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

.share {
	color: #9ed8da;
	font-size: 22px;
	font-family: $font-family-serif;
	margin-bottom: 10px;

	@media (min-width: $screen-sm-min) {
		font-size: 26px;
	}

	.addthis_toolbox {
		display: inline-block;
		vertical-align: middle;
	}

	a {
		margin: 0 0 0 10px;
		color: #9ed8da;
		font-size: 38px;
    vertical-align: middle;
    @media (min-width: $screen-sm-min) {
    	font-size: 40px;
    }
    &:first-of-type {
    	margin: 0 0 0 25px;
    }
		&:hover {
			color: darken(#9ed8da, 10%);
			text-decoration: none;
		}
	}
}

// Forms
.form-control {
	&:focus {
		box-shadow: none;
		border-color: $brand-secondary;
	}
}

// Blog

.post {
	padding-bottom: 35px;
	margin-bottom: 35px;
	border-bottom: 1px solid $brand-secondary;
	&:last-of-type {
		border: 0;
		padding-bottom: 0;
	}
	h2 {
		margin-top: 0;
	}
}

// Footer
.content-info {
	font-size: 16px;
	padding: 50px 0;
	color: #9D948F;
	text-align: center;
	@media (min-width: $screen-sm-min) {
		text-align: left;
	}
	.container {
		@media (min-width: $screen-sm-min) {
			display: flex;
			align-items: center;
		}
		.brand {
			@media (min-width: $screen-sm-min) {
				margin-right: 50px;
			}
			img {
				width: 200px;
				@media (min-width: $screen-sm-min) {
					width: 300px;
				}
			}
		}
		.contact-info {
			p {
				margin: 20px 0;
				@media (min-width: $screen-sm-min) {
					margin: 0;
				}
			}
		}
		.footer-menu {
			margin-left: auto;
			text-align: center;
			@media (min-width: $screen-sm-min) {
				text-align: right;
			}
			a {
				color: #9D948F;
				@media (min-width: $screen-sm-min) {
					display: block;
				}
				&:last-of-type {
					border-left: 1px solid #9D948F;
					padding-left: 8px;
			    margin-left: 5px;
					@media (min-width: $screen-sm-min) {
						border: 0;
						padding: 0;
						margin: 0;
					}
				}
			}
		}
	}
}