// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #a01e21;
$brand-secondary:         #EC9F21;

$text-color: #5E4C45;

$link-hover-color: #DA744C;

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       "Arvo", "Times New Roman", Times, serif;

$font-size-base: 18px;

$headings-font-family:    $font-family-serif;
$headings-font-weight:    700;

$border-radius-base: 3px;