// Header
.banner {
	.brand {
		display: inline-block;
		margin: 20px 0;
		@media (min-width: $screen-sm-min) {
			margin: 35px 0;
		}
		img {
			max-width: 150px;

			@media (min-width: $screen-sm-min) {
				max-width: 220px;
			}

			@media (min-width: $screen-md-min) {
				max-width: 300px;
			}
		}
	}
	.banner-right {
		text-align: center;
		margin-bottom: 10px;
		@media (min-width: $screen-sm-min) {
			float: right;
			text-align: right;
			margin-bottom: 0;
		}
		ul {
			font-size: 32px;
			line-height: 1;
			margin: 35px 0 15px;
			display: none;
			@media (min-width: $screen-sm-min) {
				display: block;
			}
			li {
				padding: 0;
				a,
				button {
					color: #9ED9DA;
					background-color: transparent;
					border: 0;
					padding: 0;

					&:hover,
					&:focus {
						opacity: 0.8;
						outline: none;
					}
				}

				&.search {
					position: relative;

					.search-form {
						height: 0;

						label {
							width: 0;
							overflow: hidden;
							transition: width 1000ms ease;
						}

						.search-submit {
							font-family: fontawesome;
							color: #9ED9DA;
							padding: 0;
							font-weight: 400;
							font-size: 32px;
							line-height: 1;
							margin-top: -4px;
					    padding-left: 10px;
					    display: none;

							&:hover,
							&:focus {
								opacity: 0.8;
								background-color: transparent;
								outline: none;
							}
						}
					}

					&.active {
			    	.search-form {

			    		.search-submit {
			    			display: inline;
			    		}

				    	label {
				    		width: 216px;
				    	}
				    }

				    button {
				    	opacity: 0;
				    	display: none;
				    }
			    }
				}
			}
		}
		.site-slogan {
			font-family: $font-family-serif;
			text-transform: uppercase;
			font-size: 18px;

			@media (min-width: $screen-sm-min) {
				font-size: 19px;
			}

			@media (min-width: $screen-md-min) {
				font-size: 23px;
			}

			@media (min-width: $screen-lg-min) {
				font-size: 28px;
			}
		}
	}
	.nav-primary {
		border-bottom: 1px solid $brand-secondary;
		border-top: 1px solid $brand-secondary;
		background-color: #fff;
		z-index: 10;
		.container {
			@media (min-width: $screen-sm-min) {
				position: relative;
			}
		}
		.brand {
			display: none;
			margin: 15px 0;
			img {
				width: 215px;
			}
		}
		#mega-menu-wrap-primary_navigation {
			background-color: transparent;
			position: static;
			margin: 0 -15px;
			@media (min-width: $screen-sm-min) {
				margin: 0;
			}
			.mega-menu-toggle {
				position: absolute;
				top: 20px;
		    right: 15px;
		    background-color: transparent;
	    	#mega-toggle-block-1 {
	    		&:before {
	    			color: $text-color;
	    			font-family: 'fontawesome';
	    			content: '\f0c9';
	    			min-width: 21px;
  			    display: inline-block;
	    		}
	    		&:after {
	    			color: $text-color;
	    			font-family: $font-family-serif;
	    			font-size: 16px;
	    			margin-top: 1px;
	    		}
	    	}
	    	&.mega-menu-open {
	    		#mega-toggle-block-1 {
		    		&:before {
		    			content: '\f00d';
		    		}
		    	}
	    	}
			}
			#mega-menu-primary_navigation {
				text-align: right;
				position: static;
				& > li.mega-menu-item {
					& > a.mega-menu-link {
						color: $text-color;
						font-size: 16px;
						font-family: $font-family-serif;
						padding: 6px 20px;
						height: auto;
						text-transform: uppercase;

						@media (min-width: $screen-sm-min) {
							padding: 6px 9px;
						}

						@media (min-width: $screen-md-min) {
							padding: 6px 15px;
							font-size: 20px;
						}

						@media (min-width: $screen-lg-min) {
							padding: 6px 20px;
						}

						&:hover, &:focus {
							color: #fff;
							background-color: $brand-secondary;
						}
					}
					& > ul.mega-sub-menu {
						@include orange-gradient();
						color: #fff;
						padding: 0 10px;
						@media (min-width: $screen-sm-min) {
							display: flex;
							padding: 10px;
						}
						& > li.mega-menu-item {
							color: #fff;
							padding: 10px;
							width: 100%;
							@media (min-width: $screen-sm-min) {
								border-left: 1px solid #ECCC97;
								margin: 20px 0;
								padding: 20px;
							}
							&:first-child {
								border: 0;
							}
							&.widget_text {
								display: none;
								@media (min-width: $screen-sm-min) {
									display: inline;
								}
							}
							.textwidget {
								color: #fff;
								font-family: $font-family-serif;
								font-size: 16px;
								img {
									margin-bottom: 20px;
								}
							}
							& > a.mega-menu-link {
								color: $brand-primary;
								font-size: 16px;
								font-family: $font-family-serif;
								font-weight: 700;
								text-transform: none;
								@media (min-width: $screen-sm-min) {
									font-size: 20px;
								}
								&:hover, &:focus {
									opacity: 0.8;
								}
							}
							& > ul.mega-sub-menu {
								li.mega-menu-item a {
									color: #fff;
									font-size: 14px;
									@media (min-width: $screen-sm-min) {
										font-size: 16px;
									}
									&:hover, &:focus {
										opacity: 0.8;
									}
								}
							}
						}
					}
				}
				& > li.mega-menu-item.mega-toggle-on {
					& > a.mega-menu-link {
						color: #fff;
						background-color: $brand-secondary;
					}	
				}
			}
		}
		&.scrolled {
			@media (min-width: $screen-sm-min) {
				position: fixed;
				width: 100%;
				top: 0;

				.container {
					display: flex;
				}

				.brand {
					display: block;
					float: left;
				}
				#mega-menu-wrap-primary_navigation {
					margin-left: auto;
					margin-top: 34px;
					#mega-menu-primary_navigation {
						& > li.mega-menu-item {
							& > a.mega-menu-link {
								font-size: 18px;
								padding: 6px 10px;
							}
						}
					}
				}
			}
		}
	}
	.nav-spacer.scrolled {
		@media (min-width: $screen-sm-min) {
			width: 100%;
			height: 54px;
		}
	}
}